<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Informacioni sistem Kino: Pregled filmova</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
         <h:form id="filmForma">
            <table>
                <tr>
                    <td id="banner"></td>
                </tr>
                <tr>
                    <td id="glavni">
                        <table style="width: 950px">
                            <tr>
                                <td colspan="2">
                                    <p:menubar>
                                        <p:submenu label="Glavni menu">
                                            <p:menuitem value="Početna"  icon="myHome" action="#{korisnickiBean.pocetnaStranica}" partialSubmit="true" process="@this" update="@form"/>
                                            <p:menuitem value="Odjava"  icon="myLogout" action="#{loginBean.odjaviSe}" partialSubmit="true" process="@this" update="@form"/>
                                        </p:submenu>
                                        <p:submenu label="Prodaja" rendered="#{korisnickiBean.prijavljeniKorisnik.radnik}">
                                             <p:submenu label="Karte" icon="myKarte">
                                                <p:menuitem value="Prodaja" url="prodajaKarata.jsf" icon="myProdaja"/>
                                                <p:menuitem value="Rezervacije" url="rezervacije.jsf" icon="myRezervacija"/>
                                            </p:submenu>
                                        </p:submenu>
                                        <p:submenu label="Administracija" rendered="#{korisnickiBean.prijavljeniKorisnik.admin}">
                                            <p:submenu label="Korisnici" icon="myPeople">
                                                <p:menuitem value="Klijenti" url="klijenti.jsf" icon="myKlijent"/>
                                                <p:menuitem value="Zaposlenici" url="/zaposlenici.jsf" icon="myRadnik"/>
                                                <p:menuitem value="Administratori" url="administratori.jsf" icon="myAdmin"/>
                                            </p:submenu>
                                            <p:submenu label="Finansije" icon="myMoney">
                                            <p:menuitem value="Pregled" url="finansije.jsf" icon="myPrikaziSale"/>
                                            <p:menuitem value="Statistički podaci" url="statistike.jsf" icon="myStatistika"/>
                                            </p:submenu>
                                        </p:submenu>
                                        <p:submenu label="Prikazivanja">
                                            <p:menuitem value="Filmovi" action="#{filmBean.prebaciNaFilmove}" partialSubmit="true" process="@this" update="@form" icon="myVideo"/>
                                            <p:menuitem value="Dodaj" icon="myPluss" url="dodavanjeFilma.jsf" rendered="#{korisnickiBean.prijavljeniKorisnik.admin}"/>
                                        </p:submenu>
                                    </p:menubar>
                                </td>
                            </tr>
                            <tr style="vertical-align: top">
                                <td>
                                    <p:growl id="gr"/>
                                    <p:dataGrid var="f" value="#{filmBean.filmovi}" columns="2" rows="2" paginator="true" paginatorTemplate="{CurrentPageReport} {PreviousPageLink} {PageLinks} {NextPageLink}" style="font-size: small" id="filmTabela" >
                                        <p:column>
                                            <p:panel header="#{f.nazivFilma}" style="font-size: small">
                                            
                                                <table style="width: 330px">
                                                        <tr>
                                                            <td colspan="2" style="height: 180px; overflow: hidden" id="pSlike">
                                                               
                                                                <p:graphicImage value="#{slikaBean.slika}" style="height: 100%; width: 100%" cache="false">
                                                                    <f:param name="filmId"  value="#{f.filmId}"/>
                                                                </p:graphicImage>
                                                                    
                                                            </td>
         
                                                        </tr>
                                                        <tr>
                                                            <td> <h:outputText value="Naziv filma: "/> </td>
                                                            <td>  <h:outputText value="#{f.nazivFilma}"/> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h:outputText value="Datum prikazivanja: "/> </td>
                                                            <td> <h:outputText value="#{f.datum}"/> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h:outputText value="Cijena ulaznice"/> </td>
                                                            <td> <h:outputText value="#{f.cijena} KM"/> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h:outputText value="Rezerviši ulaznicu" rendered="#{korisnickiBean.prijavljeniKorisnik.klijent}"/> 
                                                                <h:outputText value="Uredi / Obriši" rendered="#{korisnickiBean.prijavljeniKorisnik.admin}"/>
                                                            </td>
                                                            <td>  <p:commandButton icon="ui-icon-tag" value="Rezerviši" partialSubmit="true" process="@this" update=":filmForma:gr" action="#{kartaBean.podesiIdFilma(f.filmId)}" oncomplete="wd.show()" rendered="#{korisnickiBean.prijavljeniKorisnik.klijent}"/> 
                                                                <p:commandButton icon="ui-icon-pencil" rendered="#{korisnickiBean.prijavljeniKorisnik.admin}" action="#{filmBean.pripremiZaUredjivanje(f)}" partialSubmit="true" process="@this" update="@form"/>
                                                                <p:commandButton icon="ui-icon-trash" rendered="#{korisnickiBean.prijavljeniKorisnik.admin}" action="#{filmBean.podesiFilmZaBrisanje(f)}" oncomplete="cwd1.show()" partialSubmit="true" process="@this" update=":filmForma:cd1"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                    
                                             </p:panel>
                                        </p:column>
                                    </p:dataGrid>
                                </td>
                                
                                <p:confirmDialog id="cd" widgetVar="wd" message="Želite li rezervisati film" header="Potvrda rezervacije">
                                    <p:commandButton icon="ui-icon-check" value="Da" actionListener="#{kartaBean.napraviRezervaciju}" oncomplete="wd.hide(),wd1.show()" partialSubmit="true" process="@this" update="gr,d1"/>
                                    <p:commandButton icon="ui-icon-cancel" value="Ne" onclick="wd.hide()"/>
                                    </p:confirmDialog>
                                
                                <p:confirmDialog id="cd1" widgetVar="cwd1" message="Želite li izbrisati film" header="Potvrda brisanja filma">
                                    <p:commandButton icon="ui-icon-check" value="Da" actionListener="#{filmBean.obrisiFilm}" oncomplete="cwd1.hide()" partialSubmit="true" process="@this" update="gr,filmTabela"/>
                                    <p:commandButton icon="ui-icon-cancel" value="Ne" onclick="cwd1.hide()"/>
                                    </p:confirmDialog>
                                
                                <td>
                                    <p:dialog header="Kod rezervacije" closable="true" height="100px" id="d1" hideEffect="blind" position="center" resizable="false" width="450px" widgetVar="wd1" showEffect="slide" modal="false">
                                        <h:outputText value="#{kartaBean.ispis1}"/> <h:outputText value="#{kartaBean.karta.kod}" style="font-weight: bold"/>
                                        <br/> <br/>
                                        <h:outputText value="#{kartaBean.ispis2}" style="font-size: smaller"/>
                                    </p:dialog>

                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td id="podaci">
                        <span> &copy; Design by: Rifeta Rizvanović </span>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </h:body>
</html>

