<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Dobrodošli na Informacioni sistem Kino</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
        <h:form>
        <table>
            <tr>
                <td id="banner" style="border: 1px solid black"></td>
            </tr>
            <tr>
                <td id="glavni"> 
                    
                    <table>
                        <tr>
                            <td colspan="2" id="info" style="height: 65px">
                                <p:messages globalOnly="false" autoUpdate="true" closable="true" id="mess"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 20px">
                                Prijava
                                <hr/>
                                <h:panelGroup layout="block" style="width: 400px; height: 150px; margin-right: 20px">
                                    <h:panelGrid columns="2" id="prijava">
                            <h:outputLabel value="Korisničko ime: "/>
                            <h:panelGroup layout="block">
                                <p:inputText value="#{loginBean.korisnikoIme}" id="kIme" required="true" requiredMessage="Unesite korisničko ime"/>
                                <p:message for="kIme"/>
                            </h:panelGroup>
                            <h:outputLabel value="Lozinka: "/>
                            <h:panelGroup layout="block">
                                <p:password value="#{loginBean.lozinka}" id="loz"/>
                                <p:message for="loz"/>
                            </h:panelGroup>
                            <br/>
                            <p:commandButton value="Prijavi" action="#{loginBean.prijaviSe}" partialSubmit="true" process="prijava" update="@form"/>
                        </h:panelGrid>
                    </h:panelGroup>
                               
                            </td>
                            
                            <td style="border-left: 1px solid black; padding-left: 20px">
                                Registracija
                                <hr/>
                                <h:panelGroup layout="block">
                                    <h:panelGrid columns="2" id="reg">
                                        <h:outputLabel value="Ime: " for="rIme"/>
                                        <h:panelGroup layout="block">
                                            <p:inputText value="#{registracijaBean.korisnik.ime}" id="rIme" required="true" requiredMessage="Unesite ime"/>
                                            <p:message for="rIme"/>
                                        </h:panelGroup>
                                        <h:outputLabel value="Prezime: " for="rprezime"/>
                                        <h:panelGroup layout="block">
                                            <p:inputText value="#{registracijaBean.korisnik.prezime}" id="rprezime" required="true" requiredMessage="Unesite prezime"/>
                                            <p:message for="rprezime"/>
                                        </h:panelGroup>
                                        <h:outputLabel value="Korisničko ime: " for="rKIme"/>
                                        <h:panelGroup layout="block">
                                            <p:inputText value="#{registracijaBean.korisnik.korisnickoIme}" id="rKIme" required="true" requiredMessage="Unesite korisničko ime" validator="korisnickoImeValidator"/>
                                            <p:message for="rKIme"/>
                                        </h:panelGroup>
                                        <h:outputLabel value="Lozinka: " for="rLoz"/>
                                        <h:panelGroup layout="block">
                                            <p:password value="#{registracijaBean.korisnik.lozinka}" id="rLoz" />
                                            <p:message for="rLoz"/>
                                        </h:panelGroup>
                                        <br/>
                                        <p:commandButton value="Registruj" action="#{registracijaBean.registrujSe}" partialSubmit="true" process="reg" update="mess"/>
                                    </h:panelGrid>
                                </h:panelGroup>
                                    
                                    
                                
                            </td>
                        </tr>
                        
                    </table>
                        
                        
                   
                </td>
            </tr>
            <tr>
                <td id="podaci">
                    <span> &copy; Design by: Rifeta Rizvanović </span>
                </td>
            </tr>
        </table>
            </h:form>
    </h:body>
</html>

