<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Informacioni sistem Kino</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
        <h:form id="salaForma">
            <table>
                <tr>
                    <td id="banner"></td>
                </tr>
                <tr>
                    <td id="glavni">
                        <table style="width: 950px">
                            <tr>
                                <td colspan="2">
                                    <p:menubar>
                                        <p:submenu label="Glavni menu">
                                            <p:menuitem value="Početna" action="#{salaBean.zatvoriProzore}" icon="myHome" partialSubmit="true" process="@this" update="uredjivanjeGroup, salaGroup"/>
                                            <p:menuitem value="Odjava"  icon="myLogout" action="#{loginBean.odjaviSe}" partialSubmit="true" process="@this" update="@form"/>
                                        </p:submenu>
                                        <p:submenu label="Administracija">
                                            <p:submenu label="Korisnici" icon="myPeople">
                                                <p:menuitem value="Klijenti" url="klijenti.jsf" icon="myKlijent"/>
                                                <p:menuitem value="Zaposlenici" url="zaposlenici.jsf" icon="myRadnik"/>
                                                <p:menuitem value="Administratori" url="administratori.jsf" icon="myAdmin"/>
                                            </p:submenu>
                                            <p:submenu label="Finansije" icon="myMoney">
                                            <p:menuitem value="Pregled" url="finansije.jsf" icon="myPrikaziSale"/>
                                            <p:menuitem value="Statistički podaci" url="statistike.jsf" icon="myStatistika"/>
                                            </p:submenu>
                                        </p:submenu>
                                        <p:submenu label="Prikazivanja">
                                            <p:menuitem value="Filmovi" action="#{filmBean.prebaciNaFilmove}" partialSubmit="true" process="@this" update="@form" icon="myVideo"/>
                                            <p:menuitem value="Dodaj" icon="myPluss" url="dodavanjeFilma.jsf"/>
                                        </p:submenu>
                                        <p:submenu label="Postavke">
                                            <p:submenu label="Sale" icon="mySala">
                                                <p:menuitem value="Prikaži" action="#{salaBean.ucitajSale(1)}" partialSubmit="true" process="@this" update="salaGroup,tabelaSala" icon="myPrikaziSale"/>
                                                <p:menuitem value="Dodaj" action="#{salaBean.kreirajSalu}" partialSubmit="true" process="@this" update="uredjivanjeGroup" icon="myPluss"/> 
                                            </p:submenu>
                                            <p:menuitem value="Lični profil" action="#{salaBean.zatvoriProzore}" icon="myGear" oncomplete="wd1.show()" partialSubmit="true" process="@this" update="salaGroup,uredjivanjeGroup"/>
                                        </p:submenu>
                                    </p:menubar>
                                </td>
                            </tr>
                            <tr style="vertical-align: top">
                                <td>
                                    <h:panelGroup layout="block" style="width: 500px;" id="salaGroup">
                                        <p:dataTable style="text-align: center; font-size: small" rendered="#{salaBean.prikaziSale}"  id="tabelaSala" value="#{salaBean.sale}" selection="#{salaBean.odabranaSala}" selectionMode="single" var="s" rowKey="#{s.salaId}" rowIndexVar="ri"  emptyMessage="Nema unešenih sala" scrollable="true" scrollHeight="200">
                                           
                                            <p:column headerText="R.B." width="20px">
                                                <h:outputText value="#{(ri+1)}"/>
                                            </p:column>
                                            <p:column headerText="Broj sale" width="60px">
                                                <h:outputText value="#{s.brojSale}"/>
                                            </p:column>
                                            <p:column headerText="Broj mjesta" width="60px">
                                                <h:outputText value="#{s.brojMjesta}"/>
                                            </p:column>
                                            <p:column width="40px">
                                                <p:commandButton icon="ui-icon-pencil" title="Uredi"  action="#{salaBean.urediSalu(s)}" partialSubmit="true" process="@this" update=":salaForma:uredjivanjeGroup"/>
                                            </p:column>
                                            <p:column>
                                                <p:commandButton icon="ui-icon-trash" title="Obriši" oncomplete="cd.show()" action="#{salaBean.postaviIdSaleZaBrisanje(s)}" partialSubmit="true" process="@this" update="tabelaSala"/>
                                            </p:column>
                                        </p:dataTable>
                                    </h:panelGroup>
                                </td>
                                
                                <p:confirmDialog  header="Potvrda brisanja" id="d" widgetVar="cd" message="Jeste li sigurni da želite obrisati salu?">
                                    <p:commandButton icon="ui-icon-check" value="Da" actionListener="#{salaBean.obrisiSalu}"  update="gr,tabelaSala" oncomplete="cd.hide()" partialSubmit="true" process="@this" />
                                    <p:commandButton icon="ui-icon-cancel" value="Ne" onclick="cd.hide()"/>
                                </p:confirmDialog>
                                
                                
                                <td>
                                    <p:growl id="gr"/>
                                    
                                    <h:panelGroup layout="block" style="width: 450px" id="uredjivanjeGroup">
                                        <h:panelGrid columns="2" rendered="#{salaBean.prikaziUredjivanje}">
                                            <h:outputLabel value="Broj sale: "/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{salaBean.sala.brojSale}" id="bs" validator="brojSaleValidator"/>
                                                <p:message for="bs"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Broj mjesta: "/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{salaBean.sala.brojMjesta}" id="bm"/>
                                                <p:message for="bm"/>
                                            </h:panelGroup>
                                            <p:commandButton icon="ui-icon-disk" value="Spremi" action="#{salaBean.snimiSalu}" partialSubmit="true" process="uredjivanjeGroup" update="@form" />
                                            <p:commandButton icon="ui-icon-cancel" value="Odustani" action="#{salaBean.odustani}" partialSubmit="true" process="@this" update="uredjivanjeGroup"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                    
                                    <p:dialog header="Lični podaci" resizable="false" showEffect="slide" hideEffect="slide" width="430" height="200" widgetVar="wd1" id="d1" modal="false" closeOnEscape="true" position="center" >
                                        <h:panelGroup layout="block" id="lpGroup">
                                        <h:panelGrid columns="2">
                                            <h:outputLabel value="Stara lozinka"/>
                                            <h:panelGroup layout="block">
                                                <p:password value="#{korisnickiBean.staraLozinka}" validator="lozinkaValidator" id="sL" />
                                            <p:message for="sL"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Korisničko ime"/>
                                            <h:panelGroup layout="block">
                                            <p:inputText value="#{korisnickiBean.prijavljeniKorisnik.korisnickoIme}" id="pKi" required="true" requiredMessage="Unesite korisničko ime"/>
                                            <p:message for="pKi"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Nova lozinka"/>
                                            <h:panelGroup layout="block">
                                                <p:password value="#{korisnickiBean.prijavljeniKorisnik.lozinka}" id="kL" required="true" requiredMessage="Unesite lozinku"/>
                                            <p:message for="kL"/>
                                            </h:panelGroup>
                                            <p:commandButton icon="ui-icon-disk" value="Spremi" action="#{korisnickiBean.promijeniPostavke}" partialSubmit="true" process="lpGroup" update="gr,lpGroup"/>
                                            <p:commandButton icon="ui-icon-cancel" value="Odustani" onclick="wd1.hide()"/>
                                        </h:panelGrid>
                                            </h:panelGroup>
                                    </p:dialog>
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td id="podaci">
                        <span> &copy; Design by: Rifeta Rizvanović </span>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </h:body>
</html>

