<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Informacioni sistem Kino</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
        <h:form id="prodajaForma">
            <table>
                <tr>
                    <td id="banner"></td>
                </tr>
                <tr>
                    <td id="glavni">
                        <table style="width: 950px">
                            <tr>
                                <td>
                                    <p:menubar>
                                        <p:submenu label="Glavni menu">
                                            <p:menuitem value="Početna"  icon="myHome" action="#{korisnickiBean.pocetnaStranica}" partialSubmit="true" process="@this" update="@form" />
                                            <p:menuitem value="Odjava"  icon="myLogout" action="#{loginBean.odjaviSe}" partialSubmit="true" process="@this" update="@form"/>
                                        </p:submenu>
                                        <p:submenu label="Prodaja">
                                             <p:submenu label="Karte" icon="myKarte">
                                                <p:menuitem value="Prodaja" url="prodajaKarata.jsf" icon="myProdaja"/>
                                                <p:menuitem value="Rezervacije" url="rezervacije.jsf" icon="myRezervacija"/>
                                            </p:submenu>                                      
                                        </p:submenu>
                                        <p:submenu label="Prikazivanja">
                                            <p:menuitem value="Filmovi" action="#{filmBean.prebaciNaFilmove}" partialSubmit="true" process="@this" update="@form" icon="myVideo"/>
                                        </p:submenu>
                                    </p:menubar>
                                </td>
                            </tr>
                            <tr style="vertical-align: top">
                                <p:growl id="gr"/>
                                <td>
                                    <p:panel header="Prodaja karata" style="text-align: left">
                                        
                                        <table cellpadding="8px" style="background-color: whitesmoke; margin-left: 15px">
                                            <tr>
                                                <td colspan="2">
                                                    <p:selectOneMenu value="#{kartaBean.film}" id="menu" converter="filmKonvertor" style="width: 300px">
                                            <p:ajax event="change" partialSubmit="true" process="@this,menu" update="@form" listener="#{kartaBean.listener}"/>
                                            <f:selectItems id="filmovi" value="#{filmBean.filmovi}" var="f" itemLabel="#{f.nazivFilma}" itemValue="#{f}"/>
                                        </p:selectOneMenu> 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <h:outputText value="Sala broj"/> </td>
                                                <td> <h:outputText value="#{kartaBean.brojSale}"/> </td>
                                            </tr>
                                            <tr>
                                                <td> <h:outputText value="Preostalo mjesta"/> </td>
                                                <td>  <h:outputText value="#{kartaBean.preostaloMjesta}"/> </td>
                                            </tr>
                                            <tr>
                                                <td> <h:outputText value="Cijena ulaznice"/> </td>
                                                <td> <h:outputText value="#{kartaBean.film.cijena} KM"/> </td>
                                            </tr>
                                            <tr>
                                                <td> <p:commandButton icon="ui-icon-check" value="Naplati" action="#{kartaBean.prodajaKarte}" partialSubmit="true" process="@this,menu" update="@form"/> </td>
                                                <td></td>
                                            </tr>
                                            
                                        </table>
                                    </p:panel>
                                </td>
                                
                                
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td id="podaci">
                        <span> &copy; Design by: Rifeta Rizvanović </span>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </h:body>
</html>

