<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
         <h:form id="statistikaForma">
            <table>
                <tr>
                    <td id="banner"></td>
                </tr>
                <tr>
                    <td id="glavni">
                        <table style="width: 950px">
                            <tr>
                                <td colspan="2">
                                    <p:menubar>
                                        <p:submenu label="Glavni menu">
                                            <p:menuitem value="Početna"  icon="myHome"  action="#{korisnickiBean.pocetnaStranica}" partialSubmit="true" process="@this" update="@form"/>
                                            <p:menuitem value="Odjava"  icon="myLogout" action="#{loginBean.odjaviSe}" partialSubmit="true" process="@this" update="@form"/>
                                        </p:submenu>
                                        <p:submenu label="Administracija">
                                            <p:submenu label="Korisnici" icon="myPeople">
                                                <p:menuitem value="Klijenti" url="klijenti.jsf" icon="myKlijent"/>
                                                <p:menuitem value="Zaposlenici" url="zaposlenici.jsf" icon="myRadnik"/>
                                                <p:menuitem value="Administratori" url="administratori.jsf" icon="myAdmin"/>
                                            </p:submenu>
                                            <p:submenu label="Finansije" icon="myMoney">
                                            <p:menuitem value="Pregled" url="finansije.jsf" icon="myPrikaziSale"/>
                                            <p:menuitem value="Statistički podaci" url="statistike.jsf" icon="myStatistika"/>
                                            </p:submenu>
                                        </p:submenu>
                                        <p:submenu label="Prikazivanja">
                                            <p:menuitem value="Filmovi" action="#{filmBean.prebaciNaFilmove}" partialSubmit="true" process="@this" update="@form" icon="myVideo"/>
                                            <p:menuitem value="Dodaj" icon="myPluss" url="dodavanjeFilma.jsf"/>
                                        </p:submenu>
                                    </p:menubar>
                                </td>
                            </tr>
                            <tr style="vertical-align: top">
                                <td colspan="2">
                                  
                                    <p:accordionPanel id="tab" dynamic="true" cache="false">
                                    <p:tab title="Financijski podaci">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <h:panelGrid columns="2" id="gridS" cellpadding="8px">
                                                         <h:outputLabel value="Početni datum"/> 
                                                        <p:calendar value="#{statistikaBean.pocetak}" mode="popup"/> 
                                                          <h:outputLabel value="Krajnji datum"/>
                                                          <p:calendar value="#{statistikaBean.kraj}" mode="popup"/> 
                                                        <p:commandButton value="Prikazi" action="#{statistikaBean.prikaziStatistiku}" partialSubmit="true" process="gridS" update=":statistikaForma:tab"/>
                                                       
                                                    </h:panelGrid>
                                                </td>
                                                <td style="vertical-align: top; width: 400px">
                                                    <h:panelGrid rendered="#{statistikaBean.prikaziIspis}" columns="2" id="ispisGrid" cellpadding="8px" style="margin-left: 30px">
                                                    <h:outputText value="Bruto zarada"/>
                                                    <h:outputText value="#{statistikaBean.bruto}   KM"/>
                                                    <h:outputText value="Neto zarada"/>
                                                    <h:outputText value="#{statistikaBean.neto}   KM"/>
                                                    <h:outputText value="Rashodi"/>
                                                    <h:outputText value="#{statistikaBean.rashodi}   KM"/>
                                                </h:panelGrid>
                                                </td>
                                            </tr>
                    </table>
                </p:tab>
                
                <p:tab title="Financijski podaci po filmovima">
                    <p:dataTable value="#{statistikaBean.filmovi}" var="f" id="fTabela" rowIndexVar="ri" rowKey="#{f.filmId}" rendered="#{statistikaBean.prikaziTabelu}"  scrollable="true" scrollHeight="350">
                                                        <p:column headerText="R.B." style="text-align: center; width: 50px">
                                                            <h:outputText value="#{(ri+1)}."/>
                                                        </p:column>
                                                        <p:column headerText="Naziv filma">
                                                            <h:outputText value="#{f.nazivFilma}"/>
                                                        </p:column>
                                                        <p:column headerText="Zarada" style="text-align: center; width: 200px">
                                                            <h:outputText value="#{statistikaBean.racunajZaradu(f.filmId,f.cijena)} KM"/>
                                                        </p:column>
                                                    </p:dataTable>
                </p:tab>
                <p:tab title="Grafički podaci" >
                      <table width="100%">
                                            <tr>
                                                <td>
                                                    <h:panelGrid columns="3" id="g">
                                                     <h:outputLabel value="Unesite godinu" style="margin-left: 20px"/> 
                                                     <p:inputText  value="#{statistikaBean.godina}"  style="margin-left: 20px"/>  
                                                     <p:commandButton id="b" icon="ui-icon-search" value="Trazi"   style="margin-left: 20px" action="#{statistikaBean.prikaziGraf}" partialSubmit="true" process="g" update=":statistikaForma:tab"/>
                                                     </h:panelGrid>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 200px">
                                               
                                                    <p:barChart id="graf" value="#{statistikaBean.model}" rendered="#{statistikaBean.prikaziGraf}"  xaxisLabel="Mjesec" yaxisLabel="Zarada [KM]" />
                                                
                                                </td>
                                            </tr>
                                        </table>
                </p:tab>
            </p:accordionPanel>
                                           
                                    
                                  
                                    
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td id="podaci">
                        <span> &copy; Design by: Rifeta Rizvanović </span>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </h:body>
</html>

