<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Informacioni sistem Kino</title>
        <link rel="stylesheet" type="text/css" href="cssPravila.css"/>
    </h:head>
    <h:body>
        <h:form id="zaposlenikForma">
            <table>
                <tr>
                    <td id="banner"></td>
                </tr>
                <tr>
                    <td id="glavni">
                        <table style="width: 950px">
                            <tr>
                                <td colspan="2">
                                     <p:menubar>
                                        <p:submenu label="Glavni menu">
                                            <p:menuitem value="Početna"  icon="myHome"  action="#{korisnickiBean.pocetnaStranica}" partialSubmit="true" process="@this" update="@form"/>
                                            <p:menuitem value="Odjava"  icon="myLogout" action="#{loginBean.odjaviSe}" partialSubmit="true" process="@this" update="@form"/>
                                        </p:submenu>
                                        <p:submenu label="Administracija">
                                            <p:submenu label="Korisnici" icon="myPeople">
                                                <p:menuitem value="Klijenti" url="klijenti.jsf" icon="myKlijent"/>
                                                <p:menuitem value="Zaposlenici" url="zaposlenici.jsf" icon="myRadnik"/>
                                                <p:menuitem value="Administratori" url="administratori.jsf" icon="myAdmin"/>
                                            </p:submenu>
                                            <p:submenu label="Finansije" icon="myMoney">
                                            <p:menuitem value="Pregled" url="finansije.jsf" icon="myPrikaziSale"/>
                                            <p:menuitem value="Statistički podaci" url="statistike.jsf" icon="myStatistika"/>
                                            </p:submenu>
                                        </p:submenu>
                                        <p:submenu label="Prikazivanja">
                                            <p:menuitem value="Filmovi" action="#{filmBean.prebaciNaFilmove}" partialSubmit="true" process="@this" update="@form" icon="myVideo"/>
                                            <p:menuitem value="Dodaj" icon="myPluss" url="dodavanjeFilma.jsf"/>
                                        </p:submenu>
                                    </p:menubar>
                                </td>
                            </tr>
                            <tr style="vertical-align: top">
                                <td>
                                    <p:dataTable  style="text-align: center; width: 750px; font-size: small" id="zaposleniciTabela" value="#{zaposlenikBean.zaposlenici}" var="z" rowIndexVar="ri" rowKey="#{z.korisnikId}" emptyMessage="Nema unešenih zaposlenika" >
                                        <f:facet name="header" >
                                            Lista zaposlenika <p:commandButton icon="ui-icon-plus" style="font-size: small" title="Dodaj zaposlenika" action="#{zaposlenikBean.kreirajZaposlenika}" oncomplete="wd1.show()" partialSubmit="true" process="@this" update=":zaposlenikForma:zaposlenikGroup"/>
                                        </f:facet>
                                        <p:column headerText="R.B." width="30px">
                                            <h:outputText value="#{(ri+1)}"/>
                                        </p:column>
                                        <p:column headerText="Ime" width="100px">
                                            <h:outputText value="#{z.ime}"/>
                                        </p:column>
                                        <p:column headerText="Prezime" width="100px">
                                            <h:outputText value="#{z.prezime}"/>
                                        </p:column>
                                        <p:column headerText="Korisničko ime" width="100px">
                                            <h:outputText value="#{z.korisnickoIme}"/>
                                        </p:column>
                                        <p:column headerText="Lozinka" width="80px">
                                            <h:outputText value="#{z.lozinka}"/>
                                        </p:column>
                                        <p:column width="30px">
                                            <p:commandButton icon="ui-icon-pencil" title="Uredi" action="#{zaposlenikBean.urediZaposlenika(z)}" partialSubmit="true" process="@this" update=":zaposlenikForma:zaposlenikGroup" oncomplete="wd1.show()"/>
                                        </p:column>
                                        <p:column width="30px">
                                            <p:commandButton icon="ui-icon-trash" title="Obriši" action="#{zaposlenikBean.postaviZaposlenikaZaBrisanje(z)}" oncomplete="wd.show()" partialSubmit="true" process="@this" update=":zaposlenikForma:cd"/>
                                        </p:column>
                                    </p:dataTable>
                                    
                                    <p:growl id="gr"/>
                                    
                                    <p:confirmDialog header="Potvrda brisanja" id="cd" widgetVar="wd" message="Jeste li sigurni da želite izbrisati zaposlenika">
                                        <p:commandButton icon="ui-icon-check" value="Da" actionListener="#{zaposlenikBean.obrisiZaposlenika}" oncomplete="wd.hide()" partialSubmit="true" process="@this" update="gr,zaposleniciTabela"/>
                                        <p:commandButton icon="ui-icon-cancel" value="Ne" onclick="wd.hide()"/>
                                    </p:confirmDialog>
                                    
                                    
                                     <p:dialog header="Dodavanje zaposlenika" closable="true" height="200px" id="d1" hideEffect="blind" position="center" resizable="false" width="450px" widgetVar="wd1" showEffect="slide" modal="false">
                                    <h:panelGroup layout="block" id="zaposlenikGroup">
                                        <h:panelGrid columns="2">
                                            <h:outputLabel value="Ime:"/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{zaposlenikBean.zaposlenik.ime}" id="zIme" required="true" requiredMessage="Unesite ime"/>
                                                <p:message for="zIme"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Prezime:"/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{zaposlenikBean.zaposlenik.prezime}" id="zPre" required="true" requiredMessage="Unesite prezime"/>
                                                <p:message for="zPre"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Korisničko ime:"/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{zaposlenikBean.zaposlenik.korisnickoIme}" id="zKIme" required="true" requiredMessage="Unesite korisničko ime"/>
                                                <p:message for="zKIme"/>
                                            </h:panelGroup>
                                            <h:outputLabel value="Lozinka:"/>
                                            <h:panelGroup layout="block">
                                                <p:inputText value="#{zaposlenikBean.zaposlenik.lozinka}" id="zLoz" required="true" requiredMessage="Unesite lozinku"/>
                                                <p:message for="zLoz"/>
                                            </h:panelGroup>
                                            <p:commandButton icon="ui-icon-disk" value="Spremi" action="#{zaposlenikBean.snimiZaposlenika}" partialSubmit="true" process=":zaposlenikForma:zaposlenikGroup" update="gr, zaposleniciTabela" oncomplete="wd1.hide()"/>
                                            <p:commandButton icon="ui-icon-cancel" value="Odustani" onclick="wd1.hide()"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:dialog>
                                </td>
                                
                               
                                
                                <td>
                                   
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
                <tr>
                    <td id="podaci">
                        <span> &copy; Design by: Rifeta Rizvanović </span>
                    </td>
                </tr>
            </table>
            
        </h:form>
    </h:body>
</html>

